*,::before,::after{margin: 0; padding: 0; box-sizing: border-box; text-decoration:none; border: none; outline: none; scroll-behavior: smooth;}
:root{
    --bg-color:#fff;
    --snd-bg-color:#d5fdf9;
    --text-color:#000;
    --main-color:#007f73;
}
html{font-size: 15px; overflow-x: hidden; font-family:-apple-system,  sans-serif;}
body{font: 16px/1.3 system-ui, sans-serif;}
li{list-style: none;}
/* a{text-decoration: none;} */
.flex{display: flex;}
.ustify-content{justify-content: center;}
.align-item{align-items: center;}



/* Navbaar */

header{background: var(--main-color); padding: 10px 0; position: fixed; width: 100%; top: 0; z-index: 1;}
header .icon{position: absolute; right: 1rem; top: 1rem; display: none;}
header .icon i{color: var(--bg-color); font-size: 2rem; font-weight: 400;}
header nav ul.flex .close-icon i{font-size: 3rem; position: absolute; right: 1rem; top: 2rem; color: black; font-weight: 700;}
header nav ul.flex .close-icon {position: relative; display: none;}

/* nav .row.navbaar{margin-top: 2rem;} */
.navbaar h1{color: #fff; font-size: 3rem; font-weight: 700; cursor: pointer; transition: 0.3s ease; }
.navbaar h1:hover{transform: scale(1.05);}
nav ul.flex{justify-content:space-between; margin-top: 1rem;}
nav ul.flex li{margin: 0 5x;}
nav ul.flex li a{padding:0 10px; color: #fff; font-size: 1.9rem; font-weight: 400; transition: 0.3s ease;}
nav ul.flex li a:hover{color: var(--text-color);}


/* First Section */

main section .home-content{margin-top: 11rem;}

.main_content span{color: var(--text-color);font-size: 1.9rem; font-weight: bold; margin-bottom: 10px;}
.main_content h2{font-size:3rem; font-weight: bold; margin-bottom: 5px;}
.main_content .main_content_p{font-size:2rem; color: var(--text-color); font-weight: 700;}
.main_content_details{font-style: 1rem; margin-top: 1rem;}

main .container .row.main-part{margin-top: 10rem;}
/* main .container .image-part{height: 200px; width: 200px; border-radius: 50%; border: 5px solid black;} */
.main .container .img-wapper{ width: 100%; }
main .container .image-part{ max-width: 400px; aspect-ratio: 1/1; margin: auto; border-radius: 50%; box-shadow: 0 0 25px var(--main-color); cursor: pointer; animation: floatImage 4s ease-in-out infinite; transition: 0.4s ease; border: 2px solid var(--main-color); z-index: -1;}
main .container .image-part:hover{box-shadow: 0 0 25px var(--main-color),
  0 0  35px var(--main-color),
  0 0  45px var(--main-color);}
main .container .main_content_span{color: var(--main-color);}

@keyframes floatImage{
  0%{
    transform:  translateY(0);
  }
  50%{
    transform:  translateY(-2.4rem);
  }

  100%{
    transform:  translateY(0);
  }

}


.social-media {margin-top: 3rem;}
.social-media a:hover{transform: scale(1.2) translateY(-10px); background: var(--main-color); color: var(--bg-color); box-shadow: 0 0 25px var(--main-color);} 

.social-media-circle{
  color: var(--main-color);
  display: inline-block;
  border: 1px solid var(--main-color);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 28px;
  transition: background-color 0.3s ease;
  margin-bottom: 4rem;
}

.second{margin-left: 2rem;}

.social-media-circle i{margin-left: 10px; margin-top: 10px;}
.main_content .btn{display: inline-block; color: var(--bg-color); font-size: 1.6rem; background: var(--main-color); padding: 1rem 2.8rem; border-radius:4rem; letter-spacing: 0.1rem; font-weight: 600; transition: 0.3s ease;}
.main_content .btn:hover{box-shadow:0 0 1.6rem var(--main-color);}



/* About of Second Section  */
/* .wrap-2 .second-section-first-column{margin-top: 10rem;} */
.wrap-2 .second-section-content{ margin-top: 13rem;}
.wrap-2 .second-section-first-column h2{ color: var(--text-color); font-size: 5rem;}
.wrap-2 .second-section-first-column h2 span{color: var(--main-color);}
.wrap-2 .second-section-first-column .first-para{color: var(--text-color); font-size: 2.5rem; margin-bottom: 1rem;}
.wrap-2 .second-section-first-column .first-para span{color: var(--main-color);}
.wrap-2 .second-section-first-column .second-para{font-size: 1.4rem; color: var(--text-color);}
.wrap-2 .second-section-first-column .btn{display: inline-block; color: var(--bg-color); font-size: 1.6rem; background: var(--main-color); padding: 1rem 2.8rem; border-radius:4rem; letter-spacing: 0.1rem; font-weight: 600; transition: 0.3s ease; margin-top: 2rem;}
.wrap-2 .second-section-first-column .btn:hover{box-shadow:0 0 1.6rem var(--main-color);}
.wrap-2 .img-wapper{width: 100%;}
.wrap-2 .image-part{max-width: 400px; aspect-ratio: 1/1; margin: auto; border-radius: 50%; box-shadow: 0 0 25px var(--main-color); cursor: pointer; animation: floatImage 4s ease-in-out infinite; transition: 0.4s ease; border: 2px solid var(--main-color);}
.wrap-2 .image-part:hover{box-shadow: 0 0 25px var(--main-color),
  0 0  35px var(--main-color),
  0 0  45px var(--main-color);}

.wrap-project{margin-top:5rem ;}

  /* Service Code */
.wrap-3 .wrap-3-all-content{margin-top: 7rem; margin-bottom: 7rem;}
.wrap-3 h2{font-size: 4rem; text-align: center; margin-bottom: 4rem;}
.wrap-3 .wrap-3-service{color: var(--main-color);}
.wrap-3 .service-container{flex: 1 1 30rem; background: var(--snd-bg-color); padding: 4rem 2rem 4rem; border-radius: 2rem; text-align: center; border: 0.3rem solid var(--bg-color); transition: 0.3s ease;}

.wrap-3 .service-container:hover{background: var(--main-color); transform: scale(1.02);}
.wrap-3 .service-container i{font-size: 4rem; color: var(--main-color); margin-bottom: 1rem;}
.wrap-3 .service-container h3{font-size: 2rem;}
.wrap-3 .service-container p{font-size: 1.6rem; margin: 1rem 0 3rem;}
.wrap-3 .service-container a.btn{display: inline-block; color: var(--bg-color); font-size: 1.6rem; background: var(--main-color); padding: 1rem 2.8rem; border-radius:4rem; letter-spacing: 0.1rem; font-weight: 600; transition: 0.3s ease; margin-top: 2rem;}
.wrap-2 .service-container a.btn:hover{box-shadow:0 0 1.6rem var(--snd-bg-color); background: #fff;}


/* Contact code */
.wrap-4{background: var(--bg-color);}
.wrap-4 .contact-me{display: flex; justify-content: center;}
.wrap-4 .contact-me h3{margin-bottom: 3rem; color: var(--main-color); font-size: 4rem;}
/* .wrap-4 form{max-width:70rem; margin: 1rem auto; text-align: center; margin-bottom: 2rem;} */
.wrap-4 form .input-box{display: flex; justify-content: center;} 

.wrap-4 form .input-box input, .wrap-4 form textarea{width: 100%; padding: .7rem; font-size: 1.6rem;color: var(--text-color); background: var(--bg-color); background-repeat: 0.8rem; border: 0.25rem solid var(--main-color); margin: 0.7rem 0; resize: none;border-radius: 15px; } 
.wrap-4 form .input-box input{width: 49%; margin: 0.7rem 0.35rem; border-radius: 20px;}
.wrap-4 form .input-box input::placeholder{font-size: 1.3rem;}
.wrap-4 form .send-msg-btn{display: flex; justify-content: center;}
.wrap-4 form .btn{display: inline-block;  color: var(--bg-color); font-size: 1.6rem; background: var(--main-color); padding: 1rem 2.8rem; border-radius:4rem; letter-spacing: 0.1rem; font-weight: 600; transition: 0.3s ease; margin-top:2rem}
.wrap-4 form .btn:hover{box-shadow:0 0 1.6rem var(--main-color);}

/* Footer Section */
footer{background: var(--snd-bg-color); margin-top: 3rem;}
footer .social-media{margin: 1rem auto;}
/* footer p{font-size: 2rem; margin-left: 3.5rem; margin-bottom: 3rem; margin-top: -3rem;} */
footer p{font-size: 2rem; margin: 1rem auto;}



.container{max-width:1200px; margin:auto; padding: 0 1rem;}
.row{display: grid; grid-template-columns: repeat(12,1fr); gap: 2rem;}
.col-1{grid-column: span 1;}
.col-2{grid-column: span 2;}
.col-3{grid-column: span 3;}
.col-4{grid-column: span 4;}
.col-5{grid-column: span 5;}
.col-6{grid-column: span 6;}
.col-7{grid-column: span 7;}
.col-8{grid-column: span 8;}
.col-9{grid-column: span 9;}
.col-10{grid-column: span 10;}
.col-11{grid-column: span 11;}
.col-12{grid-column: span 12;}




@media screen and (max-width:980px) {

  nav ul.flex{display: none;}
  nav .navbaar .navbaar-icon .icon{display: block;}
  .wrap-project img{width: 365px; height: 250px;}


  header nav ul.flex{
    position: absolute;
    top: 100%;
    right: -100%;
    width: 255px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: var(--main-color);
    transition: all 0.5s ease;
    backdrop-filter:  blur(10px);
    justify-content: start;
    padding-top: 3rem;
  }

  header nav ul.flex a{
    display: block;
    padding: 10px ;
    font-size: 30px;
    margin: 1rem 1rem;
   
  }

header nav ul.flex.active{right: 0;}
header nav ul.flex .close-icon {display:block;}


}




@media screen and (max-width:980px) {
  .col-t-1{grid-column: span 1;}
  .col-t-2{grid-column: span 2;}
  .col-t-3{grid-column: span 3;}
  .col-t-4{grid-column: span 4;}
  .col-t-5{grid-column: span 5;}
  .col-t-6{grid-column: span 6;}
  .col-t-7{grid-column: span 7;}
  .col-t-8{grid-column: span 8;}
  .col-t-9{grid-column: span 9;}
  .col-t-10{grid-column: span 10;}
  .col-t-11{grid-column: span 11;}
  .col-t-12{grid-column: span 12;}
  
  header ul.flex{display: none;}
  .wrap-project img{width: 95%; height: 250px;}
  header .navbaar-icon .icon{top: 1rem; right: 1rem; display: block;}
  .wrap-1 .main_content{margin-top: 5rem;}
  footer .footer-p p{font-size: 1.5rem;}


  nav .navbaar .navbaar-icon .icon{display: block;}
  header nav ul.flex{
    position: absolute;
    top: 100%;
    right: -100%;
    width: 255px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: var(--main-color);
    transition: all 0.5s ease;
    backdrop-filter:  blur(10px);
    justify-content: start;
    padding-top: 3rem;
  }

  header nav ul.flex a{
    display: block;
    padding: 10px ;
    font-size: 30px;
    margin: 1rem 1rem;
   
  }

  header nav ul.flex.active{right: 0;}
  header nav ul.flex .close-icon {display:block;}




  
}

@media screen and (max-width:460px) {
  .col-p-1{grid-column: span 1;}
  .col-p-2{grid-column: span 2;}
  .col-p-3{grid-column: span 3;}
  .col-p-4{grid-column: span 4;}
  .col-p-5{grid-column: span 5;}
  .col-p-6{grid-column: span 6;}
  .col-p-7{grid-column: span 7;}
  .col-p-8{grid-column: span 8;}
  .col-p-9{grid-column: span 9;}
  .col-p-10{grid-column: span 10;}
  .col-p-11{grid-column: span 11;}
  .col-p-12{grid-column: span 12;}
  


  nav .navbaar .navbaar-icon .icon{display: block;}
  header .icon i{position: relative; top: 1.1rem;}


  header nav ul.flex{
    position: absolute;
    top: 100%;
    right: -100%;
    width: 255px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: var(--main-color);
    transition: all 0.5s ease;
    backdrop-filter:  blur(10px);
    justify-content: start;
    padding-top: 3rem;
  }

  header nav ul.flex a{
    display: block;
    padding: 10px ;
    font-size: 30px;
    margin: 1rem 1rem;
   
  }
  /* img{margin-right: 1rem;} */
  /* .service-container, .input-box{margin-right: -4rem;}
   */
   /* .service-container-box{display: flex; justify-content: center;} */
  /* .wrap-4 form .input-box input, .wrap-4 form textarea{margin: 1rem 2rem;} */

  header nav ul.flex.active{right: 0;}

  header nav ul.flex .close-icon {display:block;}


  .wrap-2 .second-section-first-column{margin-top: 2rem; margin-bottom: 5rem;}
  .wrap-2 .second-section-first-column h2{ font-size: 4rem;}
  footer p{font-size: 1.3rem;}
}

@media screen and (max-width:391px) {
  footer{background: var(--snd-bg-color); margin-top: 3rem; width: 100%; height: auto;}
  /* header .icon i{position: relative; right: 3rem} */
  .wrap-project img{width: 340px; height: 250px;}
  footer .container .footer-p p{font-size: 1.3rem;}


  
}







